* {
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
    text-decoration: none;
}

.header {
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
    align-items: center;
}

.header__logo {
    margin-left: 50px;
    font-size: 30px;
}

.header__ul {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 100px;
    gap: 30px;
}

.ul__li {
    color: #081158;
    font-size: 15px;
}

.ul__li:hover {
    font-size: 40px;
    color: blue;
}

.ul__btn {
    background-color: #081158;
    color: #fff;
    border: none;
    padding: 15px 25px;
    border-radius: 10px;
}

.fa-cart-shopping {
    font-size: 20px;
}

.one {
    width: 100%;
    display: flex;
    margin-top: 30px;
    gap: 80px;
    background-color: #EEF0F4;
}


/* Red Hat Display */
@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&display=swap');

.text__paragref {
    margin-top: 120px;
    color: #081158;
    font-family: "Red Hat Display", sans-serif;
    font-size: 14px;
}

/* Roboto */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

.text__one {
    width: 600px;
    margin-top: 35px;
    font-family: "Roboto", sans-serif;
    font-size: 72px;
}

/* Red Hat Display */
@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&display=swap');

.text__two {
    font-family: "Red Hat Display", sans-serif;
    width: 350px;
    margin-top: 50px;
    font-size: 20px;
    color: #081158;
}

.ul__btnn {
    margin-top: 50px;
    background-color: #081158;
    color: #fff;
    border: none;
    padding: 15px 25px;
    border-radius: 10px;
}

.two {
    width: 100%;
    height: 150px;
    align-items: center;
    text-align: center;
    background-color: #081158;
}

.two__ul {
    display: flex;
    justify-content: center;
    gap: 500px;
}

/* Red Hat Display */
@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&display=swap');

.ul__lii {
    font-family: "Red Hat Display", sans-serif;
    margin-top: 70px;
    color: #DFDFDF;
}

.three {
    width: 100%;
}

.three__img {
    width: 100%;
}